.td-add-container {
    width: 375px;
    height: 90px;
    border-radius: 14px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    color: #fff;
    background-color: #D3D3D3;
    padding: 16px;
    margin-bottom: 70px;
}

.close-modal {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
    top: -30px;
    right: -10px;
}

.write-todo {
    width: 245px;
    border: 1px solid #D3D3D3;
    outline-color: #0a5266;
    padding: 10px 16px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

.btn-add {
    width: 35px;
    height: 35px;
    border: none;
    padding: 10px;
    background-color: transparent;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    background-image: url('../assets/create.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
