.td-item-default {
    min-height: 70px;
    min-width: 300px;
    display: flex;
    border: 1px solid #d3d3d3;
    color: #d3d3d3;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}